.data-drop {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

.raw-data {
  margin-top: 50px;
  height: 200px;
}

.raw-data::placeholder {
  padding: 10px;
  font-size: 24px;
}

.submit-btn {
  margin-top: 10px;
  width: 25%;
  margin: 20px auto;
}

.options h3 {
  margin-top: 20px;
  font-size: 24px;
}

.sub-options {
  width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.sub-options input {
  margin-right: 1%;
}

.left-option {
  display: flex;
  width: 25%;
}

.right-option {
  display: flex;
  width: 25%;
}

